 @keyframes oxxo2 {
            0% {
                top: 5%;
                left: 25%;
                transform: scaleX(1);
            }

            6% {
                top: 16%;
                left: 30%;
                transform: scaleX(1);
            }

            12% {
                top: 5%;
                left: 35%;
                transform: scaleX(1);
            }

            18% {
                top: 15%;
                left: 40%;
                transform: scaleX(1);
            }

            24% {
                top: 10%;
                left: 52%;
                transform: scaleX(1);
            }

            30% {
                top: 35%;
                left: 55%;
                transform: scaleX(1);
            }

            36% {
                top: 7%;
                left: 65%;
                transform: scaleX(1);
            }

            42% {
                top: 5%;
                left: 70%;
                transform: scaleX(1);
            }

            48% {
                top: 5%;
                left: 75%;
                transform: scaleX(1);
            }

            50% {
                transform: scaleX(-1);
            }

            54% {
                top: 5%;
                left: 70%;
                transform: scaleX(-1);
            }

            60% {
                top: 7%;
                left: 65%;
                transform: scaleX(-1);
            }

            66% {
                top: 35%;
                left: 55%;
                transform: scaleX(-1);
            }

            72% {
                top: 10%;
                left: 52%;
                transform: scaleX(-1);
            }

            78% {
                top: 15%;
                left: 40%;
                transform: scaleX(-1);
            }

            84% {
                top: 5%;
                left: 35%;
                transform: scaleX(-1);
            }

            90% {
                top: 16%;
                left: 30%;
                transform: scaleX(-1);
            }

            100% {
                top: 5%;
                left: 25%;
                transform: scaleX(-1);
            }

        }

        @keyframes oxxo {
            0% {
                top: 5%;
                left: 18%;
                transform: scaleX(1);
            }

            6% {
                top: 16%;
                left: 25%;
                transform: scaleX(1);
            }

            12% {
                top: 5%;
                left: 28%;
                transform: scaleX(1);
            }

            18% {
                top: 15%;
                left: 35%;
                transform: scaleX(1);
            }

            24% {
                top: 15%;
                left: 47%;
                transform: scaleX(1);
            }

            30% {
                top: 35%;
                left: 55%;
                transform: scaleX(1);
            }

            36% {
                top: 7%;
                left: 65%;
                transform: scaleX(1);
            }

            42% {
                top: 5%;
                left: 70%;
                transform: scaleX(1);
            }

            48% {
                top: 5%;
                left: 75%;
                transform: scaleX(1);
            }

            50% {
                transform: scaleX(-1);
            }

            54% {
                top: 3%;
                left: 70%;
                transform: scaleX(-1);
            }

            60% {
                top: 7%;
                left: 65%;
                transform: scaleX(-1);
            }

            66% {
                top: 35%;
                left: 55%;
                transform: scaleX(-1);
            }

            72% {
                top: 15%;
                left: 47%;
                transform: scaleX(-1);
            }

            78% {
                top: 20%;
                left: 35%;
                transform: scaleX(-1);
            }

            84% {
                top: 5%;
                left: 28%;
                transform: scaleX(-1);
            }

            90% {
                top: 17%;
                left: 17%;
                transform: scaleX(-1);
            }

            100% {
                top: 15%;
                left: 8%;
                transform: scaleX(-1);
            }

        }